p{
font-family:Verdana;
font-weight:500;    
}
h1{
font-style:italic;
text-align:center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter {
    font-size: 30px;
    transition: font 0.3s ease, transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.letter:hover {
    font-family: ARIAL, sans-serif; 
    transform: scale(1.5); 
}

p #qq {
    font-family: Times New Roman, serif;
    font-size: 16px;
    transition: font 0.3s;
  }

  p#qq:hover {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  p#sc{
    text-transform:capitalize;
  }
  p#su{
    text-transform:uppercase;
  }
  p#sl{
    text-transform:lowercase;
  }
  a{
    text-align:center;
    text-decoration:underline;
}
  p#wh{
    border:1px solid red;
    padding:10px;
    margin:50px;
    width:100px;
    height:50px;
  }

.logo {
    text-align: center;
    color: #3366cc; /* Цвет текста */
    font-family: 'Arial', sans-serif; /* Шрифт текста */
    font-size:3em;
    background-image: url('logo-background.jpg'); /* Фоновое изображение */
    background-size: cover;
    padding: 20px;
    border: 2px solid #3366cc; /* Обводка текста */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(51, 102, 204, 0.5); /* Тень */
}








