p{
font-family:Verdana;
font-weight:500;    
}
h1{
font-style:italic;
text-align:center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.letter {
    font-size: 30px;
    transition: font 0.3s ease, transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.letter:hover {
    font-family: ARIAL, sans-serif; 
    transform: scale(1.5); 
}

p #qq {
    font-family: Times New Roman, serif;
    font-size: 16px;
    transition: font 0.3s;
  }

  p#qq:hover {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  p#sc{
    text-transform:capitalize;
  }
  p#su{
    text-transform:uppercase;
  }
  p#sl{
    text-transform:lowercase;
  }
  a{
    text-align:center;
    text-decoration:underline;
}









