body{
    background: rgb(171, 192, 238);
    color: white;
  }
  h1{
    color:red;
  }
  h2{
    color:yellow
  }
  p{
    color:black;
  }
  p#pink{
    color:pink;
  }
  p.pink{
    color:pink;
  }
  h1, h2, h3{
    color:green;
  }
  h1{
    font-size:18px;
  }
  h2{
    font-size:16px;
  }
  h3{
    font-size:14px;
  }
  p#psevdo:first-letter{
    color:red;
  }
  p#psevdo:first-line{
    color:black;
  }
  a{
    color:green;
    text-decoration:none;
  }
  a:hover{
    color:red;
  }
  li:first-child {
    color: red;
  }
  li:nth-child(even) {
    background-color: lightgray;
  }
  li:nth-child(2n) {
    text-decoration: underline;
  }
  .magic-text p::first-letter {
    font-size: 150%;
    color: purple;
    text-transform: uppercase;
  }
  a[target="_blank"] {
    text-decoration: underline red;
  }
  a[href^="http://"]::after,
a[href^="https://"]::after {
  content: " →";
  color: blue;
}